<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
        </script>

        
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
       
    </head>

    <body>
        <%- include('_header'); %>

       

        <main id="layout-main">
        <%- body %>
     
        </main>
       <%- include('_chat_box'); %>

        <%- include('_footer'); %>

        <%- script %>

        <script>
             <% if(flash.success && flash.success.length>0){%>
               new Noty({
                 theme: 'relax',
                 text: '<%=flash.success%>',
                 type: 'success',
                 layout: 'topRight',
                 timeout: 1500
               }).show();
            <%}%>
            
            <% if(flash.error && flash.error.length>0){%>
               new Noty({
                 theme: 'relax',
                 text: '<%=flash.error%>',
                 type: 'error',
                 layout: 'topRight',
                 timeout: 1500
               }).show();
            <%}%>
 

        </script>
        
    </body>
</html>